.portfolio-container {
  padding-top: 110px;
  display: flex;
  justify-content: center;
  .portfolio-wrapper {
    max-width: 1280px;
    .portfolio-content {
      display: flex;
      .section-left {
        font-size: 30px;
        line-height: 1.3;
        font-weight: bold;
        flex: 2;
      }
      .section-left {
        flex: 1;
      }
    }
  }
}
