.banner-wrapper {
  position: relative;
  .banner-container {
    position: relative;
    .slider__image {
      box-sizing: border-box;
      padding-bottom: 45%;
      position: relative;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
    .slick-next {
      right: 0 !important;
      width: 100px !important;
      z-index: 1;
      @media (max-width: 768px) {
        width: 50px !important;
      }
    }
    .slick-prev {
      left: 0 !important;
      width: 100px !important;
      z-index: 1;
      @media (max-width: 768px) {
        width: 50px !important;
      }
    }
    .slick-prev:before,
    .slick-next:before {
      font-size: 40px !important;
  
      @media (max-width: 768px) {
        font-size: 25px !important;
      }
    }
  }
}
