.footer-container {
  background-color: #071112;
  color: #fff;
  text-align: center;
  .footer-top {
    padding-top: 90px;
    padding-bottom: 15px;
    .footer-title {
      padding-bottom: 25px;
      font-size: 25px;
      font-weight: bold;
    }
    .footer-menu {
      margin-bottom: 15px;
      ul {
        list-style: none;
        padding-inline-start: 0;
        margin-block-start: 0;
        margin-block-end: 0;
        li {
          display: inline-block;
          padding: 18px 25px;
          font-size: 10px;
          text-transform: capitalize;
          color: #9da4ab;
          a:hover {
            color: #fff;
            text-decoration: underline;
          }
        }
      }
    }
    .footer-icons {
      display: flex;
      justify-content: center;
      margin-bottom: 20px;
      .footer-icon-links {
        height: 25px;
        width: 25px;
        border: 1px solid #fff;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 16px;
        i {
          font-size: 12px;
        }
      }
      .last-link {
        margin-right: 0;
      }
    }
  }

  .footer-bottom {
    padding: 20px;
    font-size: 12px;
    color: #646d77;
  }
}
